.Rproj.user
.Rhistory
.RData
cluster/Input/siteXspp1dgr.csv
cluster/beta_out.csv
Cluster/Input/UniquesiteXspp.csv
Cluster/Output/EnvData.txt
Cluster/Output/FinalData.txt
Cluster/Output/beta_out.csv
Cluster/Output/xytable.csv